@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,500;1,100&family=Roboto:wght@500&display=swap');
@media screen and (max-width: 600px)  {


.logow{position:relative;
left: 120px;
width:230px
}
nav, footer {
flex-direction: column;
}

.logow{position:relative;
    left: 120px;
    width:230px
    }
    nav, footer {
    flex-direction: column;
    }
    
    #naver{display:none;}
    #icon{position:relative;
         left:170px;
         bottom:-20px;}
nav a {
        display: block;
        padding: 15px;
    }

 h2{position:relative;
    left: 10%;
    padding: 5px;
   font-family:"Roboto";}
   
.home{
 text-align: center;
 font-family:"Roboto";
}


 .weahterbox{
    display: flex;
    flex-direction: row;
    background-color: #BAFF24;
  font-family:"Roboto";
    
}
 
    .weatherscamera{background-color: #bed;
        border-radius: 10px;
        width: 11%;
        text-align: center;
         font-family:"Roboto";}

 #spotlight{display: grid;
	grid-template-columns: 1fr ;
	grid-gap: 1rem;
	font-family: "Roboto";	

}
.imagesd{
    display: grid;
    grid-template-columns: 1fr ;
	position:relative;
	left: 20%;
	bottom: -190px;
    
       
    }

.slider2{display:none}

.timeday{z-index:1

	}

.grid{ display: grid;
    grid-template-columns: 1fr ;
}	
.indexfisrt{position:relative;
    left:-150px;}

        #menu-to-toogle {position:absolute} ; 
       
}   



