@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,500;1,100&family=Roboto:wght@500&display=swap');

nav{background-color: #1c1d1b;
  
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    padding: 1rem;
}
a{color:#026404}

#icon{fill:aliceblue;
    max-width: 50px;
    margin: 10px;
    cursor: pointer;
}

#star{color:#b3e010;}
body{font-size: 16px;
    line-height: 1.5;
    color: #333;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{background-color: blue;
    height: 200px;
}
.name{color: white;
position: relative;
left: 60px;
bottom: 150px;    
text-align: center;
align-items: center;
}
.myphoto{width: 90px;
    position: relative;
    left: 30px;
    height: 200px;  
}


main{width: 760px;
    display: contents;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding: 20px;
    margin: 1rem auto;
    align-items: center;
    background-color: #ffffff;
}


h2{position:relative;
    left: 230px;
    padding: 0;
 }
 hr{width: 900px;
    padding: 0;
 }

 .card {
    box-shadow: 5px 5px 15px #001d2c;
    border-radius: 20px;
    margin: 1rem;
    min-width: 400px;
    

}

  h3 {
    border-radius:19px 19px 0 0 ;
    margin: 0;
    text-align: center;
    padding: 1rem;
    background-color: #b3e010;
    color:#090f2a;
   
}

#cosas{
    
        display: grid;
        grid-template-rows:  1fr;
        grid-template-columns: 460px 300px ;
        position: relative;
        left: 230px;
      
    }
  


   
footer{background-color: blue;
}
#mode {
	color: #b3e010;
	cursor: pointer;
}
p{color: white;
text-align: center;}
.highlight{color: white;
text-align: center;}

.pe{width: 60px;

}
ul{padding: 10px;}

#menu-to-toogle {
   
	position: fixed;
	top: 5rem;
	right: 0;
	list-style-type: none;
	margin: 0;
    margin-right: 30px;
	padding: 0;
	background: #f7f7f7;
	z-index: 10;
	overflow: hidden;
	box-shadow: 5px 5px 15px #001d2c;;
}

.menu-item {
    display: block;
	text-decoration: none;
	width: 10rem;
	padding: 1rem;
	color: var(--accent-color);
	position: relative;
}
li a.menu-item {
	display: none;
    
    
}
li a.open {
	display: flex;
}




