@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,500;1,100&family=Roboto:wght@500&display=swap');


:root {

    --primary-color: #b3e010  ;
    --secondary-color: #026404;
    --tree-color: #333;
    --four-color: #df2929;
    --five--color: aliceblue;
    --six--color: #1c1d1b;
    --seven--color:blue;
    --heading-font: 'Barlow Condensed', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
  
   
}

a:hover {
    color: var(--four-color)}
nav{background-color:var(--six--color);
  
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    padding: 1rem;
}
a{color: var(--secondary-color)}
#icon{fill:var(--five--color);
    max-width: 50px;
    margin: 10px;
    cursor: pointer;
}
#star{color:var(--primary-color)}
#star:hover{color: var(--four-color);}
body{font-size: 16px;
    line-height: 1.5;
    color: var(--tree-color);
    font-family: var(--heading-font);
    font-family: var(--paragraph-font);
    margin: 0;
}
.cont{color: var(--five--color);}


.imagetemple {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 500px;
}

.imagetemple img {
	width: 100%;
	height: 500px;
	object-fit: cover;
    }

.temple {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.temple p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
}

.ifr{  display: flex;
    justify-content: center;
    margin: 20px;
  }

  .num{position:relative;
	color:var(--six--color);
left: -90px;}

header{background-color:var(  --seven--color);
    height: 200px;
}
.name{color: var(--five--color);
position: relative;
left: 60px;
bottom: 150px;    
text-align: center;
align-items: center;
}
.myphoto{width: 150px;
    position: relative;
    left: 30px;
    height:200px;  
}


main{display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: auto;
    grid-gap: 20px;}
    
main section:first-of-type{
        grid-row: 2 / span 2;
    }
    
hr{width: 500px;
        position:relative;
        bottom:-50px;
        left: -250px;
        align-items: center;}  


h2{position:relative;
    left: 230px;
    padding: 0;
    
    
 }

nav a:hover{color:var(--four-color)}





 .card {
    box-shadow: 5px 5px 15px #001d2c;
    border-radius: 20px;
    margin: 0.2rem;
    min-width: 400px;
	padding: 11px;
    

}
  h3 {
    font-family: 'Barlow Condensed', sans-serif;
    border-radius:19px 19px 0 0 ;
    margin: 0;
	width: 107%;
    text-align: center;
    padding: 15px;
    background-color: var(--primary-color);
    color:var(--six--color);
	  position:relative;
	  bottom: 16.8px;
	  left:-17px;
   
}



   
footer{background-color: blue;
}
#mode {
	color: var(--primary-color);
	cursor: pointer;
}
p{color: white;
text-align: center;}
.highlight{color: white;
text-align: center;}

p .adate{color: white;}

.pe{width: 60px;

}
ul{padding: 10px;}

#menu-to-toogle {
   
	position: fixed;
	top: 5rem;
	right: 0;
	list-style-type: none;
	margin: 0;
    margin-right: 30px;
	padding: 0;
	background: #f7f7f7;
	z-index: 10;
	overflow: hidden;
	box-shadow: 5px 5px 15px #001d2c;;
}

.menu-item {
    display: block;
	text-decoration: none;
	width: 10rem;
	padding: 1rem;
	color: var(--accent-color);
	position: relative;
}
li a.menu-item {
	display: none;
    
    
}
li a.open {
	display: flex;
}


* {
	box-sizing: border-box;
}

#formtotal {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Roboto, helvetica, sans-serif;
}

.formsecon{
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	width: 500px;
	background-color: #eee;
}

form {
	display: grid;
	grid-gap: 0.35rem;
	grid-template-columns: 1fr 1fr;
	width: 425px;
	align-items: center;
}

h4 {
	font-size: 1.5rem;
	text-align: center;
}

label,
input,
textarea,
select,
button {
	padding: 0.35rem;
}

label {
	text-align: right;
}

input:focus,
textarea:focus,
select:focus {
	background-color: #ddd;
}

#formmessage {
	display: none;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #aa3333;
	color: #fff;
	padding: 0.5rem;
}

#formmessage,
button {
	grid-column: 2/3;
}

#keyphrase:invalid {
	background-color: #ffccbb;
	animation: shaketext 500ms;
}

input:valid + input::before {
	content: "👍🏼";
}

@keyframes shaketext {
	25% {
		transform: translateX(3px);
	}
	50% {
		transform: translateX(-3px);
	}
	75% {
		transform: translateX(3px);
	}
}


table, th, td{
    border-collapse: collapse;
    box-shadow: 5px 5px 15px #001d2c;}
    
    th{background-color: gray;
    color: white;
       width: 900px;
       padding: 15px;
    }
    
    td:nth-child(1){color: black;
                   width: 80px;
                   padding:10px;
                    text-align:center;}
    .emty{background-color: black;
         width: 80px;
         padding:2px;
         text-align:center;}
    td:nth-child(4){color: balck;
                   width: 80px;
                   padding:2px;
                    text-align:center;}
    td:nth-child(3){color: black;
                   width: 80px;
                   text-align:center;}
    td:nth-child(2){color: black;
                   width: 80px;
                   text-align:center;}

.type{background-color: grey;}

caption{position:relative;
    bottom: -320px;}