@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,500;1,100&family=Roboto:wght@500&display=swap');
@media screen and (max-width: 600px) and (min-width: 400px) {

 header{display: block;}
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }

#firstmain{display: grid;
    grid-template-columns: 1fr;
          position:relative;
          left: 50px;}
           

  hr{
  position:relative;
  bottom:310px;
  left: -50px;
 }

     #firstmain .card{position:relative;

        width:2px;}
        
#portal{position:relative;
        left:60px;}
 

h1{font-size: 2px;}

#background {
        display: none;
    }

footer {
        margin-top: 25px;
    }



}




