@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,500;1,100&family=Roboto:wght@500&display=swap');
@media screen and (max-width: 600px) {
 
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
main{display: grid;
grid-template-columns: 1fr;}

h2{position:relative;
   left: 50px;}


text-align: center;}
#background {
        display: none;
    }

footer {
        margin-top: 25px;
    }
}

